{% extends "FLBlogBundle::admin_layout.html.twig" %}
{% form_theme edit_form '::bootstrap_form_theme.html.twig' %}
{#{% form_theme form 'FLBlogBundle:Form:admin.html.twig' %}#}

{% block body %}
<ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Administration</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Articles</a></li>
    <li class="active">Modification d'un article</li>
</ul>
<section class="panel">
    <div class="panel-body">

    <h2 style="margin-top: 5px; margin-bottom: 30px; padding-bottom: 13px; border-bottom: 1px solid #DDDDDD;">
        <span class="pull-left" style="margin-right: 15px;">
            {{ form(delete_form) }}
        </span>

        Modification d'un article
    </h2>

    {{ form_start(edit_form, { 'attr': { 'class': 'form-horizontal' } }) }}

        <div class="form-group">
            {{ form_label(edit_form.name, null, { 'label_attr': { 'class': 'col-lg-2 col-sm-2 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(edit_form.name) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(edit_form.slug, null, { 'label_attr': { 'class': 'col-lg-2 col-sm-2 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(edit_form.slug) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(edit_form.category, null, { 'label_attr': { 'class': 'col-lg-2 col-sm-2 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(edit_form.category) }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label control-label" for="fl_blogbundle_post_teaser">Image</label>
            <div class="col-lg-8">
                <div id="dropzone" class="dropzone" style="border: 1px dashed grey;"></div>
                <p style="margin-top:-20px; text-align:center;"><strong>Extensions autorisées : </strong> jpg, jpeg, gif, png<br />
                <strong>Taille maximale autorisée : </strong> 32M</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-2 col-sm-2 control-label">
                Status
            </div>
            <div class="col-lg-8">
                <div class="checkbox">
                    <label>
                        {{ form_widget(edit_form.published) }}
                        {{ form_label(edit_form.published) }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(edit_form.teaser, null, { 'label_attr': { 'class': 'col-lg-2 col-sm-2 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(edit_form.teaser) }}
            </div>
        </div>

        <hr>

        <div class="form-group">
            {{ form_label(edit_form.content, null, { 'label_attr': { 'class': 'col-lg-2 col-sm-2 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(edit_form.content, { 'attr': { 'style': 'display: none;' } }) }}
                <div contenteditable="true" class="cke_editable cke_editable_inline cke_contents_ltr" id="inline-editor-content" tabindex="0" spellcheck="false" role="textbox" aria-label="Éditeur de Texte Enrichi, editor2" title="Éditeur de Texte Enrichi, editor2" aria-describedby="cke_95" style="position: relative;">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, officia, accusantium ad et suscipit esse a rem dicta ab tempore consequuntur veritatis alias iste asperiores reprehenderit! Fugiat pariatur quos dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, dignissimos ipsam pariatur molestias magnam suscipit est error maxime fugiat quo! Dolorem, quos quaerat cum magni culpa voluptates dolorum aliquid odio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, mollitia, odio, fuga, ut harum dolores reiciendis repudiandae odit vel dignissimos assumenda provident. Odio ea magni rerum iste architecto necessitatibus eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, voluptas, sed, officia quaerat quia repellendus corporis ut debitis nulla fugit corrupti nobis cupiditate ipsum rem adipisci voluptatibus ratione! Sunt, ipsa! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, adipisci, iusto, quibusdam, totam accusamus incidunt suscipit sit odit facilis ipsum commodi blanditiis amet iste minima mollitia eligendi dolor architecto quasi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates rem delectus temporibus quae est tempore sed. Itaque, obcaecati autem recusandae accusamus libero magni quisquam soluta. Corporis perspiciatis molestias corrupti fuga.
                    </p>
                </div>
            </div>
        </div>

        <hr>

        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Enregistrer les modifications</button>
            </div>
        </div>

        {{ form_widget(edit_form._token) }}
        </form>

</section>

<script type="text/javascript" src="https://rawgithub.com/enyo/dropzone/master/downloads/dropzone.js"></script>

<script type="text/javascript">
var myDropzone = Dropzone.options.dropzone = {
    url: "{{ oneup_uploader_endpoint('gallery') }}",
    paramName: "file",
    maxFilesize: 30, // MB
    acceptedFiles: ".png, .jpeg, .jpg, .gif",
    autoProcessQueue: true,
    init: function() {
        this.on("sending", function(file, xhr, formData) {
            /*formData.append("apof_id", {{ entity.id }});
            formData.append("upload_type", 'apof');*/
        });
    ;
    }
};
</script>

{% endblock %}

{% block javascripts %}
<script>
    var oldVal = "";
    $("#inline-editor-content").bind("DOMSubtreeModified", function() {
        var currentVal = $(this).html();
        if(currentVal == oldVal) {
            return;
        }

        oldVal = currentVal;
        $("#fl_blogbundle_post_content").val(currentVal);
    });
</script>
{% endblock %}