<div class="panel">
  <div class="panel-body">
    <h1 class="text-center mtop35"><a href="{{ path('posts_view', { 'id': post.id }) }}">{{ post.name }}</a></h1>
    <p class="text-center auth-row">
      Par <a href="#">{{ post.author.firstname }} {{ post.author.lastname }}</a> | Le {{ post.datePublish|date('d F 2014 à H:i') }} | <a href="#"><span class="count-comments" data-disqus-url="{{ url('posts_view', { 'id': post.id }) }}"></span></a>
    </p>
    <div class="blog-img-wide">
      <img src="{{ post.image.webPath | imagine_filter('blog_post_main') }}" alt="">
    </div>
    <div id="epiceditor" style="height: 300px;"></div>
    <div class="hide">
      <textarea id="fl_blogbundle_post_content" name="fl_blogbundle_post_content">{{ post.content|raw }}</textarea>
    </div>


    {# <div class="blog-tags">
      TAGS <a href="#">photoshop</a><a href="#">illustrator</a><a href="#">adobe</a><a href="#">theme</a>
      <div class="pull-right tag-social">
        <a href="#" class="btn btn-share pull-right">Share</a>
        <ul class="pull-right">
          <li>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </div> #}
  </div>
</div>