{% extends "FLBlogBundle::admin_layout.html.twig" %}
{% form_theme form '::bootstrap_form_theme.html.twig' %}
{#{% form_theme form 'FLBlogBundle:Form:admin.html.twig' %}#}

{% block body %}
<ul class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Administration</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Articles</a></li>
    <li class="active">Création d'un article</li>
</ul>
<section class="panel">
    <div class="panel-body">
        <h2 style="margin-top: 5px; margin-bottom: 30px; padding-bottom: 13px; border-bottom: 1px solid #DDDDDD">Création d'un article</h2>

        {{ form_start(form, { 'attr': { 'class': 'form-horizontal' } }) }}

        <div class="form-group">
            {{ form_label(form.name, null, { 'label_attr': { 'class': 'col-lg-2 col-sm-2 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.name) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.slug, null, { 'label_attr': { 'class': 'col-lg-2 col-sm-2 control-label' }}) }}
            <div class="col-lg-8">
                {{ form_widget(form.slug) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-8 col-lg-offset-2">
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Enregistrer l'article</button>
            </div>
        </div>

        {{ form_widget(form._token) }}
        </form>
    </div>
</section>
{% endblock %}