{% extends "FLBlogBundle::layout.html.twig" %}

{% block menuDashboard %}class="active"{% endblock %}

{% block body %}
<div class="panel">
  <div class="panel-body">
    <h1 class="text-center mtop35"><a href="{{ path('posts_view', { 'id': posts[0].id }) }}">{{ posts[0].name }}</a></h1>
    <p class="text-center auth-row">
      Par <a href="#">{{ posts[0].author.firstname }} {{ posts[0].author.lastname }}</a> | {{ posts[0].datePublish|date('d F Y à H:i') }} | <a  href="{{ path('posts_view', { 'id': posts[0].id }) }}#comments"><span class="count-comments" data-disqus-url="{{ url('posts_view', { 'id': posts[0].id }) }}"></span></a>
    </p>
    <div class="blog-img-wide">

      <a href="{{ path('posts_view', { 'id': posts[0].id }) }}"><img src="{{ asset(posts[0].image.path) }}" alt=""></a>

    </div>
    <p>
      {{ posts[0].teaser|nl2br }}
    </p>
    <a href="{{ path('posts_view', { 'id': posts[0].id }) }}" class="more">Lire la suite <i class="fa fa-long-arrow-right"></i></a>
  </div>
</div>
<!-- <div class="panel">
  <div class="panel-body">
    <div class="blog-img-wide">
      <img src="{{ asset('bundles/flblog/img/blog/blog-wide-img.jpg') }}" alt="">
    </div>
    <h1><a href="blog_details.html">Neque porro quisquam est qui dolo rem ipsum quio</a></h1>
    <p class=" auth-row">
      By <a href="#">Anthony Jones</a> | 27 December 2014 | <a href="#">5 Comments</a>
    </p>
    <p>
      Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci.
    </p>
    <a href="blog_details.html" class="more">Continue Reading</a>
  </div>
</div> -->
<div class="panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-5">
        <div class="blog-img-sm">
          <img src="{{ asset('bundles/flblog/img/blog/blog-sm-img.jpg') }}" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <h1><a href="blog_details.html">Neque porro quisquam est qui dolo</a></h1>
        <p class=" auth-row">
          By <a href="#">Anthony Jones</a> | 27 December 2014 | <a href="#">5 Comments</a>
        </p>
        <p>
          Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci.
        </p>
        <a href="blog_details.html" class="more">Continue Reading</a>
      </div>
    </div>
  </div>
</div>
<div class="panel">
  <div class="panel-body text-center">
    <h1 class="mtop35"><a href="blog_details.html#">Neque porro quisquam est qui dolo rem ipsum quio</a></h1>
    <p class=" auth-row">
      By <a href="#">Anthony Jones</a> | 27 December 2014 | <a href="#">5 Comments</a>
    </p>
    <p>
      Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci.
    </p>
    <a href="blog_details.html" class="more mbot20">Continue Reading</a>
  </div>
</div>
<div class="panel">
  <div class="panel-body text-center">
    <i class="fa fa-quote-left"></i>
    <h1>Proin sit amet sapien euismod, pretium ligula quis, tempus dui. Nam varius arcu id elit tristique consequat.</h1>
    <p class=" auth-row">
      <em> Anthony Jones</em>
    </p>
  </div>
</div>
<div class="panel">
  <div class="panel-body">
    <h1 class="mtop35"><a href="blog_details.html">Neque porro quisquam est qui dolo rem ipsum quio</a></h1>
    <p class=" auth-row">
      By <a href="#">Anthony Jones</a> | 27 December 2014 | <a href="#">5 Comments</a>
    </p>
    <p>
      Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci.
    </p>
    <a href="blog_details.html" class="more mbot20">Continue Reading</a>
  </div>
</div>
<div class="panel">
  <div class="panel-body">
    <div id="c-slide" class="carousel slide auto">
      <ol class="carousel-indicators out">
        <li class="active" data-slide-to="0" data-target="#c-slide"></li>
        <li data-slide-to="1" data-target="#c-slide"></li>
        <li data-slide-to="2" data-target="#c-slide"></li>
      </ol>
      <div class="carousel-inner blog-img-wide">
        <div class="item text-center active">
          <img src="{{ asset('bundles/flblog/img/blog/blog-wide-img.jpg') }}" alt="">
        </div>
        <div class="item text-center">
          <img src="{{ asset('bundles/flblog/img/blog/blog-wide-img.jpg') }}" alt="">
        </div>
        <div class="item text-center">
          <img src="{{ asset('bundles/flblog/img/blog/blog-wide-img.jpg') }}" alt="">
        </div>
      </div>
    </div>
    <h1><a href="blog_details.html">Neque porro quisquam est qui dolo rem ipsum quio</a></h1>
    <p class="auth-row">
      By <a href="#">Anthony Jones</a> | 27 December 2014 | <a href="#">5 Comments</a>
    </p>
  </div>
</div>
<div class="text-center">
  <ul class="pagination">
    <li><a href="#">PREV</a></li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">NEXT</a></li>
  </ul>
</div>


{% endblock %}