<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Blog - Florian Lepot</title>

    <link href="{{ asset('bundles/flblog/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/flblog/css/animate.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/flblog/css/prettify.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/flblog/css/font-awesome.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/flblog/css/superfish.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/flblog/css/blog.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/flblog/css/apps-reset.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/flblog/css/default-theme.css') }}" type="text/css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Raleway:900,300,200,100" rel="stylesheet" type="text/css">
  </head>
  <body class="blog-body" style="background: url('http://www.unsigneddesign.com/Seamless_background_textures/1200px/seamlesstexture1_1200.jpg') repeat center;">
    <div class="navigation clearfix" style="background-color: rgba(0, 0, 0, 0.3);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="navbar navbar-static-top">
              <div>
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars"></span>
                  </button>
                  <a class="sticky-logo" href="{{ path('homepage') }}" style="font-weight: bold; font-size: 18px; color: white; font-family: sans-serif;">
                    Florian Lepot
                  </a>
                </div>
                <div class="navbar-collapse collapse ddsmoothmenu" id="smoothmenu1">
                  <ul class="nav navbar-nav pull-right top-nav sf-menu">
                    <li><a href="{{ path('homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('blog') }}">Blog</a></li>
                    <li><a href="index.html#contact">Contact</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-section" style="padding: 8px;">
      <div class="container">
        <div class="section-title">
          <h1 class="section-heading">Blog</h1>
        </div>
        <div class="row blog" style="margin-top: 60px;">
          <div class="col-md-8">
            {% block body %}
            {% endblock %}
          </div>
          <div class="col-md-4">
            <div class="panel">
              <div class="panel-body">
                <input type="text" placeholder="Rechercher" class="form-control blog-search">
                <button class="btn btn-search"><i class="fa fa-search"></i></button>
              </div>
            </div>
            {% render url('posts_menu') %}
            {# <div class="panel">
              <div class="panel-body">
                <div class="blog-post">
                  <h3>recent comments</h3>
                  <ul>
                    <li><a href="javascript:;"><i class=" fa fa-comments-o"></i> admin on Vestiblulum quis dolor </a></li>
                    <li><a href="javascript:;"><i class=" fa fa-comments-o"></i> admin on Nam sed arcu tellus</a></li>
                    <li><a href="javascript:;"><i class=" fa fa-comments-o"></i> monster002 on Fringilla ut vel ipsum </a></li>
                    <li><a href="javascript:;"><i class=" fa fa-comments-o"></i> admin on Vestiblulum quis dolor sit</a></li>
                  </ul>
                </div>
              </div>
            </div> #}
            {% render url('categories_menu') %}
            <div class="panel">
              <div class="panel-body">
                <div class="blog-post">
                  <h3>blog archive</h3>
                  <ul>
                  <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> May 2013</a></li>
                  <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> April 2013</a></li>
                  <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> March 2013</a></li>
                  <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> February 2013</a></li>
                  <li><a href="javascript:;"><i class=" fa fa-angle-right"></i> January 2013</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="wow slideInLeft">
              <img src="{{ asset('bundles/flblog/img/footer-logo.png') }}" alt="">
              <p>
                PO Box 16122 Collins Street West <br/>
                Victoria 8007 Australia
              </p>
              <div class="f-address">
                <p>
                  <span>Email</span> : anthony.jones@gmail.com
                </p>
                <p>
                  <span>Phone</span> : +123 456 789 111
                </p>
                <p>
                  <span>Website</span> : <a href="#">www.anthonyjones.com</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="twitter-feed wow bounceIn">
              <img class="twt-avatar" src="{{ asset('bundles/flblog/img/person.jpg') }}" alt="">
              <p>
                <a href="#" class="bold">@Anthony Jones</a><span>about 21 min ago</span>
              </p>
              <p class="twt-txt">
                Hey Folks! Read all about how we've changed our approach to support on social media :) <a href="#"> http://ow.ly/smVyp </a>
              </p>
            </div>
            <div class="twt-icon">
              <img src="{{ asset('bundles/flblog/img/twt-icon.png') }}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            &copy; 2014 resumei. All Rights Reserved. Designed &amp; powered by <a href="#">ThemeBucket</a>
          </div>
        </div>
      </div>
    </div>

    <script src="{{ asset('bundles/flblog/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/flblog/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/flblog/js/jquery.scrollUp.js') }}"></script>
    <!-- Easing Effect-->
    <script src="{{ asset('bundles/flblog/js/jquery.easing.js') }}"></script>
    <!-- Sticky Nav-->
    <script src="{{ asset('bundles/flblog/js/waypoints.js') }}"></script>
    <script src="{{ asset('bundles/flblog/js/waypoints-sticky.js') }}"></script>
    <!-- Elements Animation On Scroll -->
    <script src="{{ asset('bundles/flblog/js/wow.js') }}"></script>
    <script src="{{ asset('bundles/flblog/js/jquery.smooth-scroll.js') }}"></script>
    <!-- Drop Down Menu -->
    <script src="{{ asset('bundles/flblog/js/hoverIntent.js') }}"></script>
    <script src="{{ asset('bundles/flblog/js/superfish.js') }}"></script>
    <!-- Syntax Highlighter -->
    <script src="{{ asset('bundles/flblog/js/prettify.js') }}"></script>
    <!-- Plugins Initialize Scripts -->
    <script src="{{ asset('bundles/flblog/js/blog-init.js') }}"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        var disqusPublicKey = "CHxwy7c1QH4wjgLA8DZG6dAYu5QopNKdFlf9h8rz4AJaAPc4J80ZDSfDxQVo9yIp";
        var disqusShortname = "florianl-blog"; // Replace with your own shortname

        var urlArray = [];

        $('.count-comments').each(function () {
          var url = $(this).attr('data-disqus-url');
          urlArray.push('link:' + url);
        });

        $.ajax({
          type: 'GET',
          url: "https://disqus.com/api/3.0/threads/set.jsonp",
          data: { api_key: disqusPublicKey, forum : disqusShortname, thread : urlArray },
          cache: false,
          dataType: 'jsonp',
          success: function (result) {

            for (var i in result.response) {

              var countText = " commentaires";
              var count = result.response[i].posts;

              if (count < 2)
                countText = " commentaire";

              $('span[data-disqus-url="' + result.response[i].link + '"]').html(count + countText);

            }
          }
        });
      });
    </script>

    {% block javascripts %}{% endblock %}
  </body>
</html>